boot.script
c5_pin_model_dump.txt
db/
hps_isw_handoff/
hps_sdram_p0_all_pins.txt
hps_sdram_p0_summary.csv
incremental_db/
output_files/
sd_fat.tar.gz
soc_system.dtb
soc_system.dts
soc_system.sopcinfo
soc_system/
software/preloader/
stamp/
u-boot.scr
.qsys_edit/
camerica_fpga.qws
greybox_tmp/

workspace/